# ─── ENV FILES ────────────────────────────────────────────────────────────────
.env
.env.*
*.env
*.env.*

# ─── DJANGO / PYTHON ─────────────────────────────────────────────────────────
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
develop-eggs/
.eggs/
*.manifest
*.spec

# ─── MEDIA / STATIC ──────────────────────────────────────────────────────────
media/
staticfiles/


# ─── VIRTUAL ENVIRONMENTS ────────────────────────────────────────────────────
env/
venv/
.venv/
ENV/
ENV*/

# ─── IDE / OS FILES ──────────────────────────────────────────────────────────
.vscode/
.idea/
.DS_Store
Thumbs.db
*.bak
